header {
  background-color: #000000;
  min-height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  font-size: 130%;
  color: #ffffff;
  border-radius: 9px;
  backdrop-filter: blur(10px);
}

.MapaTitle {
  font-size: 180%;
  margin: 10% 0 2% 12%;
  align-content: center;
  color: #14213d;
}

.Mapa {
  height: 80%;
  width: 50%;
  box-shadow: 0 4px 8px #14213d;
  transition: transform 0.3s ease;
  border-radius: 1%;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin: 2% 14% 0 9%;
  flex-wrap: wrap;
  padding-bottom: 5%;
}

.Rutas {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px #96600a;
  color: #000000;
  transition: transform 0.3s ease;
  border-radius: 1%;
  overflow: hidden;
  padding: 1%;
}

.Botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: auto;
}

.ButtonB {
  background-color: #fca311;
  color: #000000;
  border : 3px solid #9c650c;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.ButtonB:hover {
  background-color: #9c650c;
  color: #ffffff;
  transform: scale(1.05);
  transition: .3s ease;
}

.ButtonA {
  background-color: #14213d;
  color: #ffffff;
  border : 3px solid #090f1b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.ButtonA:hover {
  background-color: #090f1b;
  color: #ffffff;
  transform: scale(1.05);
  transition: .3s ease;
}

.ButtonC {
  background-color: #989fce;
  color: #000000;
  border : 3px solid #5b6080;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.ButtonC:hover {
  background-color: #5b6080;
  color: #ffffff;
  transform: scale(1.05);
  transition: .3s ease;
}
